

.container{
    background-color: rgba(128, 128, 128, 0.165);
    height: 100vh;
    padding: 1em;

    .inner-cont{
        display: flex;

        .left{
            display: flex;
            flex-direction: column;
            flex: 1;
        }
        
        .right{
            display: flex;
            flex: 1;
        }
    }
}