

.navbar{
    display: flex;
    justify-content: space-between;

    ul{
        display: flex;
        gap: 1rem;
        align-items: center;
        li{
            display: flex;
            margin-right: .5em;
            color: rgba(0, 0, 0, 0.78);
            text-decoration: none;
            transition: all .1s;

            &:hover{
                border-bottom: 2.5px solid rgba(0, 0, 0, 0.452) ;
            }
        }
    }

    .end{
        display: flex;
        gap: 1rem;



        .outer-icons{
            background-color: rgba(255, 255, 255, 0.492);
            padding: .125em;
            color: grey;
            border-radius: 1rem;

        }

        .input-bar{
            display: flex;
            background-color: rgba(255, 255, 255, 0.492);
            align-items: center;
            border-radius: 1rem;
            justify-content: space-between;
            padding: .15em .5em;

            .search-input{
                border: none;
                background-color: transparent;
                margin-right: 6rem;
                outline: none;
                text-indent: .4rem;
            }

            .search-out{
                color: grey;
                font-size: 1.3rem;
            }
        }

        .bio{

            .bioss{
                border-radius: 1rem;
            }
        }

    }
}